<!DOCTYPE html>
<!--Directivas de angular y nos dice que es un pagina de angular-->
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Angular</title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="movieCtrl as movie"> <!--Controlador-->
    <div class="container">
      <div class="row">
        <input type="text" ng-model=search>
      <!--  <div class="col s12 m2" ng-repeat="n in movie.nombre | filter:search">
          <span>{{n.nombre}}</span><br>
         <span>{{n.edad}}</span>
       </div>-->
      </div>

<br><br><br><br><br>
      <div class="row">
        <div class="col s12 m4" ng-repeat= "m in movie.collection | filter:search | orderBy: 'year': 1 ">
          <div class="card z-depth-3">
            <div class="card-image">
              <img class"responsive-img" src="{{m.img}}">
              <span class="card-title">{{m.name}}</span>
            </div>
            <div class="card-content">
              <p>{{m.year}} <br> {{m.caregoria}}</p>
              <ul ng-repeat="c in m.cast">
                <li>{{c}}</li>
              </ul>
            </div>
            <div class="card-action">
              <a href="#">Ver pelicula</a>
            </div>
          </div>
        </div>
      </div>



    </div>



  </body>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</html>
